<div class="mt-4">
    <form action="#" method="get">

    </form>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Tỉnh</th>
            <th scope="col">Quận/Huyện</th>
            <th scope="col">Phường/Xã</th>
            <th scope="col">Số nhà/Tên đường</th>
            <th scope="col">Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.province}}</td>
                <td>{{this.district}}</td>
                <td>{{this.ward}}</td>
                <td>{{this.street}}</td>
                <td>
                    <a href="/order/manage/{{this._id}}" role="button" class="btn btn-info">Xem</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
    </table>
</div>

